<ul class="menu-list">\
	<li><a href="{{@blog.url}}/">Home</a></li>\
	<li><a href="javascript:void(0)">Features</a>\
		<ul class="menu-submenu">\
			<li><a href="javascript:void(0)">Main Layout</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/?layout=sidebar-left">Layout – Sidebar Left</a></li>\
					<li><a href="{{@blog.url}}/?layout=sidebar-right">Layout – Sidebar Right</a></li>\
					<li><a href="{{@blog.url}}/?layout=full-width">Layout – Full Width</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Header Widget Style</a>\
				<ul class="menu-submenu">\
					<li><a href="/?header_style=left">Widget Left</a></li>\
					<li><a href="/?header_style=right">Widget Right</a></li>\
					<li><a href="/?header_style=full"> Full Width</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Page Layout</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/sample-page/?page-layout=sidebar-left">Sidebar Left</a></li>\
					<li><a href="{{@blog.url}}/sample-page/?page-layout=sidebar-right">Sidebar Right</a></li>\
					<li><a href="{{@blog.url}}/sample-page/?page-layout=full-width">Full Width</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Single Post Layout</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/welcome-to-ramble/?single-layout=sidebar-left">Sidebar Left</a></li>\
					<li><a href="{{@blog.url}}/welcome-to-ramble/?single-layout=sidebar-right">Sidebar Right</a></li>\
					<li><a href="{{@blog.url}}/welcome-to-ramble/?single-layout=full-width">Full Width</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Post Style</a>\
				<ul class="menu-submenu">\
					<li><a href="/?post_style=1">Style One</a></li>\
					<li><a href="/?post_style=2">Style Two</a></li>\
					<li><a href="/?post_style=3">Style Three</a></li>\
					<li><a href="/?post_style=4">Style Four</a></li>\
				</ul>\
			</li>\
			<li><a href="{{@blog.url}}/?preloader=on">Preloader</a></li>\
			<li><a href="{{@blog.url}}/?post_masonry=on">Masonry Layout</a></li>\
			<li><a href="javascript:void(0)">Custom Pages</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/about">About Me</a></li>\
					<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
					<li><a href="{{@blog.url}}/404">404</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Homepage Extra</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/?sticky-aria=hide">Hide Sticky Slider</a></li>\
					<li><a href="{{@blog.url}}/?featured-aria=hide">Hide Featured Aria</a></li>\
					<li><a href="{{@blog.url}}/?footer-newsletter-widget=hide">Hide Footer Newsletter & social aira</a></li>\
				</ul>\
			</li>\
		</ul>\
	</li>\
	<li><a href="{{@blog.url}}/author/mickle/">Author Archive</a></li>\
	<li><a href="{{@blog.url}}/tag/sticky">Tag Archive</a></li>\
	<li><a href="{{@blog.url}}/about">About Me</a></li>\
	<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
	<li><a href="{{@blog.url}}/404">404</a></li>\
</ul>