<article class="{{post_class}} hentry">
    {{#if image}}
    <figure class="post-thumb">
        <img src="{{image}}" alt="{{title}}">
    </figure> <!-- /.post-thumb -->
    {{/if}}
    <header class="entry-header">
        {{#if tags}}
        <div class="cat-links">
            {{tags separator=" / "}}
        </div>
        {{/if}}
        <h2 class="entry-title"><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
        <div class="entry-meta">
            <div class="meta-content">                                         
                <div class="meta">
                    <span class="byline">
                        <span class="author vcard">
                            By: {{author}}
                        </span>
                    </span>
                </div> <!-- /.meta -->
            </div>
        </div> <!-- .entry-meta -->
    </header> <!-- /.entry-header -->
    <div class="entry-content">
        <span class="screen-reader-text"></span>
        {{content words="80"}}
    </div> <!-- .entry-content -->
    <footer class="entry-footer clearfix">                          
        <div class="post-readmore">
            <a href="{{url}}" class="more-link">Continue reading</a>
        </div>
        <div class="footer-meta clearfix">
            <table>
                <tbody>
                    <tr>
                        <th class="post-comment">
                            <a class="comments-link" href="{{url}}#disqus_thread">0 Comments</a>
                        </th>
                        <th class="post-view-mobile">
                            <span class="view-link">{{date format="DD MMMM YYYY"}}</span>
                        </th>
                        <th class="share-area">
                            <script type="text/javascript">
                                function SoftHopperPopupWindow(url, title, w, h) {
                                    var left = (screen.width / 2) - (w / 2);
                                    var top = (screen.height / 2) - (h / 2);
                                    return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                                }
                                
                            </script>
                            <!-- facebook share -->
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="SoftHopperPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><span class="fa fa-facebook"></span></a>

                            <!-- twitter share -->
                            <a href="https://twitter.com/home?status={{url absolute='true'}}" onclick="SoftHopperPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><span class="fa fa-twitter"></span></a>

                            <!-- google plus share -->
                            <a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="SoftHopperPopupWindow(this.href, 'google-plus-share', 550,530); return false;"><span class="fa fa-google-plus"></span></a>

                            <!-- pinterest share -->
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><span class="fa fa-pinterest-p"></span></a>

                            <!-- linkedin share -->
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}" onclick="SoftHopperPopupWindow(this.href, 'linkedin-share', 550,530); return false;"><span class="fa fa-linkedin"></span></a>
                        </th>
                        <th class="post-view">
                            <span class="view-link">{{date format="DD MMMM YYYY"}}</span>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div> <!-- /.footer-meta -->
    </footer> <!-- .entry-footer -->
</article> <!-- /.post-->