<!doctype html>
<html class="no-js" lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {{#is "author"}}
                {{author.name}} | {{@blog.title}}
            {{else}}
                {{meta_title}} | {{meta_description}}
                {{#is "post, page"}} 
                    {{@blog.title}} 
                {{/is}} 
            {{/is}} 
        </title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- Custom Font
        ================================================== -->
        <link href='https://fonts.googleapis.com/css?family=Great+Vibes%7CLato:400,400italic,700,700italic%7CMontserrat:400,700%7CPlayfair+Display:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset "fonts/font-awsome/css/font-awesome.min.css"}}">

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="{{asset "css/bootstrap/css/bootstrap.min.css"}}">
        <link rel="stylesheet" href="{{asset "css/plugin.css"}}">
        <link rel="stylesheet" href="{{asset "css/screen.css"}}">
        <link rel="stylesheet" href="{{asset "colors/color-schemer.css"}}">

        <!-- Modernizr
        ================================================== -->
        <script src="{{asset "js/vendor/modernizr-2.8.3.min.js"}}"></script>
        <script src="{{asset "js/vendor/jquery-1.11.3.min.js"}}"></script> <!-- jQuery -->
        <script src="{{asset "js/vendor/jquery-migrate.min.js"}}"></script> <!-- jQuery-migrate -->
        <script src="{{asset "js/header.js"}}"></script> <!-- Header Loaded Javascript funcions -->
        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
	</head>

    <body class="{{body_class}}">
        {{! Everything else gets inserted here }}
        {{{body}}}

        <!-- Footer
        ================================================== --> 
		{{! Footer Section }}
        {{> "footer"}}

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        <!-- All The JS Files
        ================================================== --> 
        <script src="{{asset "js/plugin.js"}}"></script> <!-- Plugin JS -->
        <script src="{{asset "js/gatherdata.js"}}"></script> <!-- Plugin JS -->
        <script src="{{asset "js/widget.js"}}"></script> <!-- ramble script -->
        <script src="{{asset "js/ramble.js"}}"></script> <!-- ramble script -->
	</body>
</html>